// COLORS....
$color-primary: #102869;
$color-primary-light: #163ead;
$color-secondary-light: #9d7a3e;  
$color-secondary: #7b6135;  
$color-white: #FFF;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey-medium: #fcfcfc;
$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-tertiary-light: #f184d8;
$color-tertiary-dark: #792264;
$color-grey-light-1:#eee;
$color-grey-light-2: #ffffff99;
$color-warning: #e46707;

// GRIDS 
$grid-width: 120rem;
$gap-vertical: 3rem;
$gap-horizontal: 4rem;
