.u-mb-xs {
    margin-bottom: 1rem  !important;
}
.u-mb-sm {
    margin-bottom: 1.5rem  !important;
}
.u-mb-l {
    margin-bottom: 4rem  !important;
}
.u-mb-xl {
    margin-bottom: 6rem  !important;
}
.u-mb-xxl {
    margin-bottom: 8rem  !important;
}

.u-mt-xxl {
    margin-top: 8rem  !important;
}

.u-text-center {
    text-align: center !important;
}